    @import '~antd/dist/antd.css';
    .App {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    body {
        background-color: #EEF1F6;
    }
    /* Allows the footer to go the bottom */
    
    html,
    body,
    .App,
    #root {
        height: 100vh;
    }
    
    #mainContainer {
        /* align-items: center; */
        justify-content: center;
        flex: 1;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    #navbar {
        background-color: #3498db;
        color: white;
    }
    
    #loginCard {
        width: 350px;
        align-content: center;
    }
    
    .ant-menu-submenu-title:hover {
        color: white;
    }
    
    .ant-card-head {
        color: white;
        background-color: #f1c40f;
    }
    /* Footer */
    
    ul {
        list-style: none;
        padding-left: 0;
    }
    
    footer {
        background-color: #555;
        color: white;
        line-height: 1.5;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .footerbar {
        padding: 0.9375rem 1.875rem;
        background-color: #3498db;
    }
    
    .footerbar-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footerbar-list li {
        margin: 0.125rem 0.625rem;
        white-space: nowrap;
    }
    
    .footerbar-list {
        flex: 1;
        flex-direction: row-reverse;
    }